.title {
    font-family: 'Open Sans', sans-serif;
}

.paragraph {
    font-family: 'Open Sans', sans-serif;
}

.frm1 {
    width: 350px;
}

.frm2 {
    width: 350px;
}

/* label {
    padding: 5px;
} */

input {
    margin-bottom: 20px;
}